<nav class="c-navigation {% if site.fixedNav == 'true' %}is-fixed{% endif %}">
  <div class="c-navigation__container u-container">
    <a class="c-navigation__item {% if page.url == '/' %}is-active{% endif %}" href="{{ "/" | prepend: site.baseurl }}">Home</a>
    <a class="c-navigation__item" href="https://dc24-sab.blogspot.com/">Blog</a>
    <a class="c-navigation__item {% if page.url == '/about/' %}is-active{% endif %}" href="{{ "/about/" | prepend: site.baseurl }}">About</a>
    <a class="c-navigation__item {% if page.url == '/status/' %}is-active{% endif %}" href="{{ "/status/" | prepend: site.baseurl }}">Service</a>
    <a class="c-navigation__item {% if page.url == '/mail/' %}is-active{% endif %}" href="http://mail.service.dc24.xyz/">Mail Patcher</a>
    <a class="c-navigation__item" href="https://dc24.xyz/coc.html">Code of Conduct</a>
    <a class="c-navigation__item {% if page.url == '/donate/' %}is-active{% endif %}" href="{{ "/donate/" | prepend: site.baseurl }}">Donations</a>
  </div>
</nav>
