/* ==========================================================================
   Variables
   ========================================================================== */

// Theme
$c__contrast-darker-color: #222;
$c__contrast-lighter-color: #2c2c2c;
$c__primary-color: #6F549B;
$c__text-color: #fff;
$c__link-color: #82659b;

// Colors
$c__light-grey: #FAFAFA;
$c__blue-grey: #2b333d;
$c__black: #000000;
$c__white: #ffffff;

// Taken from
// https://github.com/Dogfalo/materialize/blob/8339680dddff0815d2ac8c99b583693e6ff42f0e/sass/components/_global.scss
$table-striped-color: rgba(55, 55, 55, 0.5) !default;
$table-border-color: rgba(0,0,0,.12) !default;