/* ==========================================================================
   Article
   ========================================================================== */

.c-article {
  background: $c__contrast-darker-color;
  padding-top: 13.2rem
}

@media screen and (min-width: 42.5rem) {
  .c-article{
    padding-top: 6.6rem
  }
  .c-article__main{
    padding: 7.5rem 2.5rem
  }
}

.c-article__main {
  max-width: 76rem; // 760px;
  margin-right: auto;
  margin-left: auto;
  padding: 2.5rem 7.5rem 2.5rem 2.5rem;
  @include fs--body;

  > * {
    margin-bottom: 1.8rem;
    color: rgba($c__text-color, .7);
  }

  a:not(.c-btn) {
    text-decoration: underline;
    color: $c__primary-color;
  }

  blockquote {
    margin-left: -2.5rem;
    width: calc(100% + 5rem);
    padding: 2.5rem;
    background: $c__blue-grey;
  }

  ul, ol {
    margin-left: 40px;
  }
}