/* ==========================================================================
   Header
   ========================================================================== */

.c-header {
  padding: 2.5rem;
  background: $t-theme;
}

@media screen and (min-width: 42.5rem) {
  .c-header {
    padding: 7.5rem 2.5rem
  }
}

.c-header__title {
  position: relative;
  @include ff--mono(500);
  @include fs--title;
  color: $c__white;
  width: 55%;
  margin-left: auto;
  margin-right: auto;

  span {
    color: rgba(#fff, .5);
  }
}
