/* ==========================================================================
   Header
   ========================================================================== */

.c-header {
  padding-top: 10.1rem; // 75px
  padding-bottom: 2.5rem; // 75px
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  background: $t-theme;
}

.c-header__title {
  position: relative;
  @include ff--mono(500);
  @include fs--title;
  color: $c__white;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  display: block;

  span {
    color: rgba(#fff, .5);
  }
}
